body{
    font-family: 'Bebas Neue', cursive;
    overflow-y: scroll;
}

.text-russo {
    font-family: 'Teko', sans-serif;
}

body.text-light{
    background-color: #202020;
    background-image: linear-gradient(hsla(0,0%,100%,.02) 1px,transparent 0),linear-gradient(90deg,hsla(0,0%,100%,.02) 1px,transparent 0);
    background-size: 8px 8px;
    background-repeat: repeat space;
}
body.text-dark{
    background-color: #f7f7f7;
    background-image: linear-gradient(rgba(0,0,0,.04) 1px,transparent 0),linear-gradient(90deg,rgba(0,0,0,.04) 1px,transparent 0);
    background-size: 8px 8px;
    background-repeat: repeat space;
}

body.text-dark .text-light {
    color: #2a2a2a !important;
}

.swal2-popup {
    display: none;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    width: 50em !important;
    max-width: 100%;
    padding: 1.25em;

    background: rgba(0,0,0,0) !important;
}

.swal2-container.swal2-backdrop-show, .swal2-container.swal2-noanimation {
    background: rgba(0,0,0,.6) !important;
}

.vid {
    position: relative;
    cursor: pointer;
}

.vid::after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: linear-gradient(45deg, #0cbcf2, #750cf2, #750cf2, #0cbcf2);
    border-radius: 15px;
    z-index: -1;
  }
  .vid::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #0cbcf2, #750cf2, #750cf2, #0cbcf2);
    z-index: -2;
    filter: blur(15px);
  }

.vid img {
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.vid:hover img{
    transform: scale(1.05);
}

.inner-vid {
    border-radius: 10px;
    width: 100%;
    padding-top: 56.25%;
    position: relative;
}
iframe{
    background-color: rgba(112, 31, 211, 0.275);
}

.tshadow {
    text-shadow: 5px 5px 8px rgba(0,0,0,.6);
}
.nav-a {
    font-size: 1.5rem;
    cursor: pointer;
}
body.text-light a {
    text-decoration: none;
    color: white
}
body.text-dark a {
    text-decoration: none;
    color: #2a2a2a
}

body a, .nav-a {
    transition: color 0.2s ease-in-out;
}

body.text-light .nav-a:hover, body.text-dark .nav-a:hover, .text-links:hover .nav-a {
    color: #13b2e2
}
.nav-a-selected {
    color: #00a3d4 !important;
}

@keyframes roll {
    0% { transform: rotate(0); }
    100% { transform: rotate(-360deg); }
  }

  #sunkern {
      background-color: rgba(0,0,0,0.7);
  }
  #sunkern > img{
      animation: roll 3s linear 0s infinite;
  }

.text-about{
    font-size: 2.1rem;
}

.text-contact {
    font-size: 2.4rem;
}

.text-links{
    font-size: 3rem;
}

.hexagon-img{
    position: absolute;
    background: url("../images/hexagon.png");
    background-size: cover;
	width: 80px;
	height: 80px;
	top: 40px;
	right: 40px;
}

body.text-light .hexagon-img {
	position: absolute;
    background: url("../images/hexagon.png");
    background-size: cover;
	width: 80px;
	height: 80px;
	top: 40px;
	right: 40px;
}

body.text-dark .hexagon-img {
	position: absolute;
    background: url("../images/d-hexagon.png");
    background-size: cover;
	width: 80px;
	height: 80px;
	top: 40px;
	right: 40px;
}

@keyframes HEXCALE{
    from{ 
        transform: scale(1);
        opacity: 0.2;
    }
    to{ 
        transform: scale(2);
        opacity: 0;
    }
}

.hexcale-1{
    animation: HEXCALE 2s linear 0s infinite;
}

.hexcale-2{
    animation: HEXCALE 2s linear 1s infinite;
}

body.text-light #lights {
    color: #2e2e2e;
}

body.text-dark #lights {
    color: #f4f4f4;
}

.logo {
    position: absolute; 
    top: 42px; 
    left: 36px;
    width: 70px;
}

.swal2-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.swal2-popup {
    width: auto !important;
}


#page-container {
    position: relative;
    min-height: 100vh;
  }
  
#content-wrap {
    padding-bottom: 50px;
}
  
footer {
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: 100%;
    text-align: right;
}

.sh4rin { --palette: #8b0000; }
.elm    { --palette: #d8e233; }
.light  { --tc: #fff}
.dark   { --tc: #000}

.testimonial{
    font-size: 1.3rem;
    padding-top: 37px;
}
.testimonial .content{
    padding: 15px 10px;
    border-radius:6px;
    margin-bottom: 15px;
    position: relative;
    background: var(--palette);
    min-height: 100px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.testimonial .content:after{
    content: "";
    border-top: 10px solid var(--palette);
    border-left: 10px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    bottom: -8px;
    left: 50px;
}

.testimonial .description{
    margin-bottom: 10px;
    color: var(--tc);
}
.testimonial-pic{
    float:left;
}
.testimonial-pic > img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid var(--palette);
    margin-left: 20px;
}

.testimonial .testimonial-title{
    font-size: 1.4rem;
    text-transform:capitalize;
    font-weight: bold;
    margin:0;
}
.testimonial > .testimonial-review span{
    color: darkgray;
    display: block;
    font-size: 13px;
    margin-bottom:5px;
}
.testimonial a.fa-twitter{
    color:#00aced;
}

.carousel-item {
    transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1), opacity .5s ease-out !important
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img{
    margin: auto !important;
}